name: Get Interactions

on: push

jobs:
  pack:
    name: Pull and pack
    runs-on: macOS-latest
    steps:
      - name: Pulling files
        run: |
          mkdir pack
          cd pack && wget https://api.modpacks.ch/public/modpack/5/121/server/mac
          chmod +x mac

      - name: Getting server
        run: |
          cd pack && ./mac 5

      - name: Packing files
        run: |
          zip -r pack.zip pack/*

      - name: Upload to cowtransfer
        run: |
          curl -fsSL git.io/file-transfer | sh
          ./transfer cow pack.zip | tee cowtransfer.log
          echo "::warning file=cowtransfer.com::$(cat cowtransfer.log | grep https)"

      # - name: Upload files
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: Interactions
      #     path: pack
